<section class="attendees separator interna container">
	<h1>Cadastro de Rota</h1>
  <p>
		Compartilhe seus caminhos com outros caroneiros e torne sua viagem mais divertida
		e barata. <br>
		Serão divulgadas informações parciais dos endereços cadastrados. Fique tranqüilo, 
		nossa preocupação é a sua segurança.
  </p>

	<%= render 'form' %>
</section>