<% @body_id = "cadastro-page" %>

<section class="attendees separator interna container">
	<h1>Cadastro do Caroneiro</h1>
  <p>
		Quem enfrenta o trânsito diário precisa ter uma dose extra de paciência. Cadastre-se e tenha acesso às
		novas possibilidades para driblar esse inimigo das grandes metrópolis. Torne sua viagem divertida 
		e diminua seus gastos com transporte. É simples e seguro.
  </p>

	<%= render 'form' %>
</section>